*{
    font-family: sans-serif;
    box-sizing: border-box;

  }

body{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

table{
    margin-top: 10%;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: lightgray;
}
  
td{
    width: 20px;
    height: 65px;
}

#prvired, #pomocni, #zadnji, #prvisat{
    text-align: center;
    font-size: 15px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    background-color: white;
    height: 15px;
}

#prvisat{
    text-align: right;
    font-size: 15px;
}

#dani, #pon{
    text-align: right;
    background-color: white;
    border-bottom: 1px solid white;
    border-top: hidden;
    border-left: hidden;
    padding-right: 10px;
    border-right: 1px solid black;
}

#pon{
    font-weight: bold;
}

#isprekidana{
    border-right: 1px dashed black;
    border-top: 1px solid black;
}

#puna{
    border-right: 1px solid black;
    border-top: 1px solid black;
}

#aktivnost{
    border-top: 1px solid black;
    text-align: center;
    font-size: 15px;
    background-color: #d1dae3;
}

#sakrij{
    display: none;
}

@media only screen and (max-width: 599px){
    #prvired, #pomocni, #zadnji, #prvisat{
        display: none;
    }

    td{
        display: block;
        height: 65px;
        width: 100%;
    }

    table{
        margin-top: 10%;
        border: 1px solid black;
        border-collapse: collapse;
        background-color: lightgray;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    
    #dani, #pon{
        text-align: center;
        background-color: white;
        border-bottom: 1px solid white;
        border-top: 1px solid black;
        border-left: hidden;
        border-right: hidden;
        padding-top: 10px;
        height: 40px;
    }

    #isprekidana, #puna{
        display: none;
        border-top: hidden;
        border-left: hidden;
        border-right: hidden;
        border-bottom: hidden;
    }

    #aktivnost{
        border-top: 1px solid black;
        text-align: center;
        font-size: 15px;
        background-color: #d1dae3;
        border-right-color: #d1dae3;
        height: 50px;
    }
}