*{
    box-sizing: border-box;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
    width: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


#a, #b, #c, #d, #e, #f, #g{
    background-color: #d1dae3;
}

#osam, #deset, #dvanaest, #petnaest, #sedamnaest, #devetnaest{
    font-size: 13px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    background-color: white;
}

#dani{
    background-color: white;
    border-bottom: 1px solid white;
    border-top: hidden;
    border-left: hidden;
    text-align: right;
    padding-right: 10px;
    height: 65px;
    font-size: 15px;
    border-right: 1px solid black;
}

#osam, #petnaest{
    text-align: right;
    padding-right: 20px;
}

#deset, #dvanaest{
    text-align: center;
}

#devetnaest{
    text-align: left;
}

#sedamnaest{
    padding-left: 23px;
}

#puna, #a, #c, #d, #e, #g{
    border-right: 1px solid black;
}

#isprekidana, #b, #f{
    border-right: 1px dashed black;
}

#velika{
    font-size: 16px;
    margin-bottom: 0%;
    margin-top: 0%;
}

#mala{
    font-size: 12px;
    margin-top: 0%;
    margin-bottom: 28px;
}


@media only screen and (max-width: 599px) {
    ul{
        display: none;
    }
    td, th {
        display: block;
        width: 100%;
        padding: 0%;
        border-right: hidden;
        border-left: hidden;
        border-bottom: hidden;
        border-top: hidden;
    }

    table{
        margin-top: 10%;
        empty-cells: hide;
        width: 50%;
        background-color: lightgray;
        font-family: Arial, Helvetica, sans-serif;
    }

    #osam, #deset, #dvanaest, #petnaest, #sedamnaest, #devetnaest{
        display: none;
    }

    #a, #b, #c, #d, #e, #f, #g{
        background-color: #d1dae3;
        height: 40px;
        padding-top: 5px;
        border-right: hidden;
        border-top: 1px solid black;
    }

    #dani{
        background-color: white;
        text-align: center;
        height: 40px;
        font-size: 15px;
        padding-top: 10px;
        border-bottom: hidden;
        border-right: hidden;
        border-top: 1px solid black;
    }

    #isprekidana, #puna{
        display: none;
        border-top: hidden;
        border-left: hidden;
        border-right: hidden;
        border-bottom: hidden;
    }

}