*{
    box-sizing: border-box;
}

body, html{
  background-image: linear-gradient(180deg, #99acbf, #e1eef5);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


#rcorners1 {
  display: block;
  border-radius: 45px;
  border: 2px solid #3d83a6;
  padding-top: 2%; 
  width: 23%;
  height: 45%;  
  margin-left: 13%;
  margin-top: 15%;
  color: #3d83a6;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  float: left;
}

#velika{
  font-size: 150%;
}

#mala{
  font-size: 90%;
}

legend{
  font-size: 90%;
  margin-top: -50%;
  display: table;
  margin-left: 0% auto;
  margin-right: 0% auto;
  position: relative;
  width: 50%;
}

#rcorners2 {
  display: block;
  border-radius: 15px;
  border: 2px solid #3d83a6;
  padding-top: 2%; 
  width: 25%;
  height: 55%;  
  margin-left: 1%;
  color: #3d83a6;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  float: left;
  margin-top: 10%;
}

#rcorners3 {
  display: block;
  border-radius: 45px;
  border: 2px solid #3d83a6;
  padding-top: 2%; 
  width: 23%;
  height: 45%;  
  color: #3d83a6;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  float: left;
  margin-left: 1%;
  margin-top: 15%;
}

#prethodna{
  padding-left: 2.5%;
}

#trenutna{
  padding-left: 6%;
}

#sljedeca{
  padding-left: 4.5%;
}





@media only screen and (max-width: 599px) {

  body, html{
    background-image: linear-gradient(180deg, #99acbf, #e1eef5);
    height: 100%;
  }
  
  #rcorners1  {
    display: none;
  }

  ul{
    display: none;
  }

  #rcorners2 {
    display: block;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border: 2px solid #3d83a6;
    padding-top: 2%; 
    width: 60%;
    height: 40%;  
    color: #3d83a6;
    font-family: Arial, Helvetica, sans-serif;
  }
    
  #rcorners3 {
    display: block;
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 45px;
    border: 2px solid #3d83a6;
    padding-top: 0.5%; 
    width: 50%;
    height: 40%;  
    color: #3d83a6;
    font-family: Arial, Helvetica, sans-serif; 
  }

  #velika{
    font-size: 100%;
  }
  
  #mala{
    font-size: 70%;
  }

  legend{
    font-size: 90%;
    margin-top: -50%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 50%;
    text-align: center;
  }
}