*{
    box-sizing: border-box;
}

table{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

tr, td{
    width: 150px;
}

table tr:hover{
    border: 2px solid black;
}
 