*{
    box-sizing: border-box;
}


#p_v, #naziv_predmeta, #pocetak, #kraj, #dan{
    width: 180px;
    height: 30px;
    margin-left: 3px;
}


table{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


td{
    text-align: right;
    padding-right: 5px;
}

@media only screen and (max-width: 599px) {
    td {
        display: block;
        text-align: left;
    }

    #p_v, #naziv_predmeta, #pocetak, #kraj, #dan{
        width: 185px;
        height: 30px;
        margin-bottom: 10px;
    }

    
  ul{
    display: none;
  }

}

